name: MLflow CI Retraining

on:
  push:
    branches: [ "main" ]

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install MLflow (latest)
      run: pip install mlflow>=2.9 docker
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Run MLflow Project (Training)
      run: |
       cd MLProject
       mlflow run . --env-manager=local

    - name: Build Docker Image with MLflow
      run: |
       mlflow models build-docker \
       -m runs:/$(mlflow runs list --max-results 1 | tail -n 1 | awk '{print $1}')/model \
       -n miftah520/heart-disease-mlflow

    - name: Push Docker Image
      run: docker push miftah520/heart-disease-mlflow
